# JetBrains IDE files
.idea/
*.iml

# Python files
*.pyc

# Jupyter Notebooks
.ipynb_checkpoints/

# CSV, XML, SVG, and PNG files
*.csv
*.xml
*.svg
*.png

# VS Code files
.vscode/

# MacOS files
.DS_Store

# Custom project files
FiberPho/Test_Photometry.py
FiberPho/analysis_script.ipynb
FiberPho/analysis_file_ma681.py
FiberPho/vCA1_analysis.py
analysis_script.ipynb

# Other
.ssm/
